.cell {
  position: relative;
  padding: 0;
}

.cell__area {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
}

.buttons {
  position: absolute;
}
